@font-face{
    src: url(font/Headache-Font-OTF);
    font-family: "headeache";
}
@font-face{
    font-family: "Leoscar";
    src: url(font/Leoscar San Serif.ttf);
}
body{
    text-align: center;
    margin: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
.navigation-container{
    height: 120px;
    width:100%;
    background-color: rgb(184, 130, 130);
    position: relative;
    letter-spacing: 2px;
    text-align: left;
   
}
.logo{
    height: 80px;
    width: 80px;
float: left;
margin-left: 20px;
margin-top: 15px;
}
.img-fluids{
    height: 500px;
    width: 500px;
}
.text-dark{
    padding-left: 25px;
    text-decoration: none;
    color: rgb(69, 79, 90);
}
#sign{
    width: 25px;
    height: 25px;
    margin-left: 40rem;
    cursor: pointer;

}
#search{
    width: 30px;
    height: 25px;
    margin-left: 70rem;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 50px;

}
#home :hover{
    font-family: headache;
    font-size: 20px;
    text-decoration: none;
    padding-left: 50px;
    margin-left: 50px;

}
.navigation-menu{
    padding-top: 40px;
}
#blog :hover{
    font-family: headache;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
}
#contact :hover{
    font-family: headache;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;

}
#shop :hover{
    font-family: headache;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
}
#location :hover{
    font-family: headache;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
}
#cover{
    background-image: cover;
    width: 750px;
    height: 500px;
    float: left;
    overflow: hidden;
}
.container{
   width: 100%;
}
.hero{
    background-color: rgb(204, 153, 153);
    height: 500px;
    margin-top: 0px;
  
}
#brasomon{
    padding-top: 100px;
    margin-top: 0;
    letter-spacing: 1.5rem;
    font-size: 70px;
}
#leather{
    margin-top: -50px;

    letter-spacing: 1.0rem;
    font-size: 20px;

}
.lead{
    letter-spacing: 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 19px;
}
#shopnow{
    background: linear-gradient(rgb(133, 91, 91),brown);
    box-shadow: rgb(163, 101, 101), beige;
    color:black;
    font-family:sans-serif;
    font-weight:6rem;
    font-size:18px;
    height: 50px;
width: 150px;
border-radius: 10px;
}
#shopnow2{
    background: linear-gradient(rgb(133, 91, 91),brown);
    box-shadow: rgb(163, 101, 101), beige;
    color:black;
    font-family:sans-serif;
    font-weight:6rem;
    font-size:18px;
    height: 50px;
width: 150px;
border-radius: 10px;
margin-top: 1rem;
text-align: center;

}
#pays{
    padding-top: 2rem;
}
.h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-top: 150px;
letter-spacing: 0.8rem;
font-size: 35px;
background-color:white;
text-align:center;

}
#pr1{
    width: 340px;
    height: 350px;
    margin-top:40px;
    margin-left: -160px;
    position: absolute;
    border-style: solid;
    border-width: 1.0rem;
    border-color: rgb(172, 138, 114);
    border-radius: 9px;
   
}
#pr2{
  position: absolute;
    width: 340px;
    height: 350px;
    margin-top: 350px;
    margin-left: -450px;
    border-style: solid;
    border-width: 1.0rem;
    border-color: rgb(172, 138, 114);
    border-radius: 9px;

}
#pr3{
    position: absolute;
    width: 340px;
    height: 350px;
    margin-top:680px;
    margin-left: -640px;
    
    border-style: solid;
    border-width: 1.0rem;
    border-color: rgb(172, 138, 114);
    border-radius: 9px;

}
#pr4{
    position: absolute;
    width: 340px;
    height: 350px;
    margin-top:350px;
    margin-left: 135px;
    border-style: solid;
    border-width: 1.0rem;
    border-color: rgb(172, 138, 114);
    border-radius: 9px;
}
#pr5{
   position: absolute;
    width: 340px;
    height: 350px;
    margin-top:680px;
   margin-left: 295px;
   border-style: solid;
   border-width: 1.0rem;
   border-color: rgb(172, 138, 114);
   border-radius: 9px;
}
#pr6{
    position: absolute;
    width: 340px;
    height: 350px;
  margin-top:62rem;
  margin-left: 8rem;
  border-style: solid;
  border-width: 1.0rem;
  border-color: rgb(172, 138, 114);
  border-radius: 9px;
}
#pr7{
    position: absolute;
    width: 340px;
    height: 350px;
    margin-top:62rem;
    margin-left: -28rem;
    border-style: solid;
    border-width: 1.0rem;
    border-color: rgb(172, 138, 114);
    border-radius: 9px;
}
#pr8{
    position: absolute;
    width: 340px;
    height: 350px;
    margin-top:82rem;
    margin-left: -10rem;
    border-style: solid;
    border-width: 1.0rem;
    border-color: rgb(172, 138, 114);
    border-radius: 9px;
}
.images-container{
    background: linear-gradient( to left, rgb(204, 153, 153),white);
    height: 1730px;
}
.images-container1{
    background: linear-gradient( to left, rgb(204, 153, 153),white);
    height: 1730px;
}
.images-container2{
    background: linear-gradient( to left, rgb(204, 153, 153),white);
    height: 1730px;
}
.images-container3{
    background: linear-gradient( to left, rgb(204, 153, 153),white);
    height: 1730px;
}
.h21{
margin-top: 2rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 0.8rem;
font-size: 35px;
background-color:white;
text-align:center;
}

.pay{
    margin-top: 6rem;
}
.par{
    letter-spacing: 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 19px;
   padding-top: rem;
   text-emphasis: none;

}
.para{
    letter-spacing: 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 19px;
    padding-top: -2rem;
    line-height: 4px;
}

.parag{
    letter-spacing: 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 19px;
    padding-top: 0rem;
    line-height: 6px;
}
.subscription-form-container{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.u-negative input[type="email"]{
    border-color: transparent;
    background-color: rgb(68, 63, 63);
}
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    -webkit-appearance: none;
    border-radius: 0px;
    background-color: rgb(211, 167, 167);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(206, 180, 180);
    box-shadow: none;
    color: rgb(61, 53, 53);
    display: block;
    font-family: inherit;
    font-size: 1rem;
    height: 4rem;
    margin-top: 3rem;
    padding: 0.7775rem;
    width: 19rem;
    box-sizing: border-box;
    transition: border-color 0.15s linear 0s, background 0.15s linear 0s;
}
@media (min-width: 551px)

.footer-email-input {
    max-width: 360px;
}
.footer-email-cta:hover::before {
    border-color: rgb(150, 150, 150);
}
.footer-email-cta::before {
    content: "";
    position: absolute;
    left: 40%;
    margin-top: 5rem;
    width: 14px;
    height: 17px;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    transform: translateY(-50%) rotate(45deg);
    margin-left: 16rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.text-center{
    letter-spacing: 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 19px;
}
.modal-footer{
    height: 280px;
    width:100%;
    background-color: rgb(184, 130, 130);
    position: relative;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
}
.h4{
    text-align: left;
    padding-top: 4rem;
    padding-left: 17rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}
.care {
    text-decoration: none;
    text-shadow: rgb(158, 108, 108);
  color: rgb(37, 39, 41);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
text-align: left;
}
.text1{
    padding-left: 9rem;
    text-decoration: none;
}
.text2{
    line-height: 3rem;
    padding-left: 9rem;
    text-decoration: none;
}
.text3{
    line-height: 3rem;
    padding-left: 9rem;
    text-decoration: none;
}
.text4{
   margin-top: -11rem;
    padding-left: 29rem;
    text-decoration: none;
}
.text5{
    line-height: 3rem;
    padding-left: 29rem;
    text-decoration: none;
}
.text6{
    line-height: 3rem;
    padding-left: 29rem;
    text-decoration: none;
}
.h41{
    text-align: left;
    margin-top: -14.5rem;
    padding-left: 56rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.facebook{
margin-left: 13rem;
margin-top: 2rem;
    width: 3rem;
    height: 3rem;
    position: absolute;
}
.insta{
    margin-left: 19rem;
    margin-top: 2rem;
        width: 3rem;
        height: 3rem;
        position: absolute;
    }
.youtube{
    margin-left: 25rem;
    position: absolute;
    margin-top: 2rem;
        width: 3rem;
        height: 3rem;
}
.cords{
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding-top: 700px;
    
}
.cords1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding-top: 730px;
}


